extends layout/main.pug
include mixins/videoBlock 

block content
    .home-videos
        each item in videos
            +videoBlock({
                title: item.title,
                description: item.description,
                id: item.id,  
                views: item.views,
                videoFile: item.fileUrl,         
            })