extends layout/main.pug
include mixins/videoBlock

block content
    .search__header
        h1 Searching by #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No Videos Found
        each item in videos
            +videoBlock({
                title: item.title,
                description: item.description,
                id: item.id,  
                views: item.views,
                videoFile: item.fileUrl,
                
        })
    